@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
	:root{
		--dark-colour: #121212;
		--light-colour: #FFF;
		--medium-colour-light: #e6e6e6;
		--medium-colour-dark: #242424;
	}

	body{
		background-image: url('https://picsum.photos/1920/1080');
		background-color: var(--dark-colour);
		color:var(--medium-colour-light);
		font-family: 'Epilogue', sans-serif;
		text-shadow: 3px 5px 2px #474747, 2px -12px 9px rgba(206,89,55,0), 2px -12px 9px rgba(206,89,55,0);	
	}
	.container{
		width:100%;
	}
	#time{
		background-color: ;
		padding-top: 5%;
		padding-left: 10%;
		text-align: left;
		margin: 0 0;
		font-size: 7vw;
		width: 40%;
	}
	#under-time{
		text-align: center;
	}
	#over-time{
		text-align: center;
	}
	#day{
		font-size: 1vw;
		float: left;
	}
	#greeting{
		font-size: 1vw;
		float: left;
	}
	#DMY{
		font-size: 1vw;
		float: right;
	}
	#footer{
		left: 0;
		bottom: 0;
		position: fixed; 
		width: 100%;
		text-align: center;
		color: var(--medium-colour-dark);
		font-size: 1vw;
	}

	a {
		color: var(--medium-colour-dark);
	}

	a:active{
		color: var(--medium-colour-dark);
	}

	a:hover{
		color: var(--medium-colour-dark);
	}

	/* FADE IN */
	.fade-in {
	  animation: fadeIn ease 3s;
	  -webkit-animation: fadeIn ease 3s;
	  -moz-animation: fadeIn ease 3s;
	  -o-animation: fadeIn ease 3s;
	  -ms-animation: fadeIn ease 3s;
	}
	@keyframes fadeIn {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1;
	  }
	}

	@-moz-keyframes fadeIn {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1;
	  }
	}

	@-webkit-keyframes fadeIn {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1;
	  }
	}

	@-o-keyframes fadeIn {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1;
	  }
	}

	@-ms-keyframes fadeIn {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1;
	}

	/*TOGGLE BUTTON */
