body{
	background-color:black;
	font-family: Arial;
}

#time{
	color:white;
	padding-top: 5%;
	padding-left: 10%;
	text-align: left;
	margin: 0 0;
	font-size: 7vw;
	width: 40%;
}

#quote-container{
	color: white;
	width: 40%;
	margin: auto auto;
	text-align: center;
	padding-top: 10%;
	font-size: 2em;

}